<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is a simple web application built with the Gin framework.</p>
    <p>Author: <a href="https://blog.nimendra.xyz" target="_blank" rel="noopener noreferrer">Nimendra</a></p>
    <p>Technologies used: <a href="/about">Gin Framework, HTML, CSS, Nginx, Docker, Docker Compose, Go, and OpenSSL</a></p>
    <a href="/about">About</a>
</body>
</html>

